<!DOCTYPE html>
<html>
<head>
<title>Pompeii Explorer</title>
</head>
<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='mdl/material.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<script src="{{ url_for('static', filename='mdl/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body onload="get_data_by_idx(true);">

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Pompeii Explorer</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- <a class="mdl-navigation__link" href="">Link</a> -->
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content"-->
        <div class = "mdl-grid">
               <div class = "mdl-cell mdl-cell--12-col" style="justify-content: center;">
                   <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col">
                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_data_by_idx(false)"style="top: 50%">
                        <i class="material-icons">arrow_left_alt</i>
                      </button>
                    </div>
                    <div class="mdl-cell mdl-cell--10-col" style="height: 400px; text-align: center;">
                      <div class="mdl-grid graybox" style="text-align: center;">
                        <div class="mdl-cell mdl-cell--2-col">
                          <div style="height: 450px">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_image_by_idx(false)" style="top: 50%">
                            <i class="material-icons">arrow_left_alt</i>
                            </button>
                          </div>
                          <div>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_text_by_idx(false)">
                            <i class="material-icons">arrow_left_alt</i>
                            </button>
                          </div>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col" style="height: 400px; text-align: center;">
                        <img id="image" style="max-width:100%; max-height:100%;">
                        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
                          <textarea class="mdl-textfield__input" type="text" rows= "5" id="image_text" >a</textarea>
                          <label class="mdl-textfield__label" for="sample5">Description</label>
                        </div>
                        <div style="text-align: center;">
                          <button class="mdl-button mdl-js-button mdl-button--raised">
                            Save Progress
                          </button>
                        </div>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                          <div style="height: 450px">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_image_by_idx(true)" style="top: 50%">
                            <i class="material-icons">arrow_right_alt</i>
                            </button>
                          </div>
                          <div>
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_text_by_idx(true)">
                            <i class="material-icons">arrow_right_alt</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="save_alignment()"style="top: 50%">
                        <i class="material-icons">arrow_right_alt</i>
                      </button>
                    </div>
                    
                   </div>
               </div>
            </div>
    </div>
    <p style="visibility: hidden;" id="curr_idx">-1</p>
  </main>
</div>
</body>
</html>