<!DOCTYPE html>
<html>
<head>
<title>Pompeii Explorer</title>
</head>
<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='mdl/material.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<script src="{{ url_for('static', filename='mdl/material.min.js') }}"></script>
<script type="text/javascript">
  var curr_overall_idx = parseInt('{{ start_idx }}'); // -1
</script>
<script src="{{ url_for('static', filename='js/count_check.js') }}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body onload="get_data_by_idx(true);">

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Pompeii Explorer</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- <a class="mdl-navigation__link" href="">Link</a> -->
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content"-->
        <div class = "mdl-grid">
               <div class = "mdl-cell mdl-cell--6-col" style="justify-content: center;">
                   <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col">
                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_data_by_idx(false)"style="top: 50%">
                        <i class="material-icons">arrow_left_alt</i>
                      </button>
                    </div>
                    <div class="mdl-cell mdl-cell--10-col" style="height: 500px; text-align: center;">
                      <div class="mdl-grid graybox" style="text-align: center;">
                        <div class="mdl-cell mdl-cell--12-col" style="height: 500px; text-align: center;">
                        <p id="image_path">page this</p>
                        <img id="image" style="max-width:100%; max-height:100%;">
                        <div style="text-align: center;">
                          <button class="mdl-button mdl-js-button mdl-button--raised" onclick="save_progress();">
                            Save Progress
                          </button>
                        </div>
                        <div style="text-align: center;">
                          <button class="mdl-button mdl-js-button mdl-button--raised" onclick="mark_page();">
                            Mark Page
                          </button>
                          <button class="mdl-button mdl-js-button mdl-button--raised" onclick="unmark_page();">
                            Unmark Page
                          </button>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="get_data_by_idx(true)"style="top: 50%">
                        <i class="material-icons">arrow_right_alt</i>
                      </button>
                    </div>
                    
                   </div>
               </div>
               <div class = "mdl-cell mdl-cell--6-col" style="justify-content: center;">
                <div class="mdl-cell mdl-cell--12-col" style="height: 500px; text-align: center;">
                  <p id="raw_image_path">page that</p>
                  <img id="whole_page" style="max-width:100%; max-height:100%;">
                </div>
               </div>
            </div>
    </div>
    <p style="visibility: hidden;" id="curr_idx">-1</p>
    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button type="button" class="mdl-snackbar__action"></button>
    </div>
  </main>
</div>
</body>
</html>